{% extends 'base.html.twig' %}

{% block title %}Nouveau producteur{% endblock %}

{% block body %}
	<h1>Créer un nouveau producteur</h1>

	{{ include('producer/_form.html.twig') }}
    <br>
	<a href="{{ path('producer_index') }}" class="btn btn-primary">Retour</a>
    <br>
{% endblock %}
