{% extends 'base.html.twig' %}

{% block title %}Édition de genre{% endblock %}

{% block body %}
	<h1>Édition de genre</h1>

	{{ include('type/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
	<a href="{{ path('type_index') }}" class="btn btn-primary">Retour</a>
	<br><br>
	{{ include('type/_delete_form.html.twig') }}
    <br>
{% endblock %}
