{% extends 'base.html.twig' %}

{% block title %}Nouveau genre{% endblock %}

{% block body %}
	<h1>Créer un nouveau genre</h1>

	{{ include('type/_form.html.twig') }}
    <br>
	<a href="{{ path('type_index') }}" class="btn btn-primary">Retour</a>
    <br>
{% endblock %}
