{% extends 'base.html.twig' %}

{% block title %}Édition de catégorie{% endblock %}

{% block body %}
	<h1>Édition de catégorie</h1>

	{{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
	<a href="{{ path('category_index') }}" class="btn btn-primary">Retour</a>
	<br><br>
	{{ include('category/_delete_form.html.twig') }}
    <br>
{% endblock %}
