{% extends 'base.html.twig' %}

{% block title %}Édition d'avis{% endblock %}

{% block body %}
	<h1>Édition d'avis</h1>

	{{ include('notice/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
	<a href="{{ path('notice_index') }}" class="btn btn-primary">Retour</a>
	<br><br>
	{{ include('notice/_delete_form.html.twig') }}
    <br>
{% endblock %}
