@import "~@fortawesome/fontawesome-free/css/all.min.css"; 
@import "~bootstrap/scss/bootstrap";

*{
	box-sizing: border-box;
}
body{
	font-family: "Cabrion";
    background-color: #7e9ae3;
} 
html{
    min-height: 100vh;
    position: relative;
    padding: 80px 0;
}
h1, h2, h3, h4{
	text-align: center;
	font-family: "Soria";
}
footer{
    position: absolute;
    bottom: 0;
}
.filters{
    background: white;
    border-radius: 5px;
}
