{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h1 class="mt-2">Contact</h1>
<hr>

<h2 class="aideForm">Comment pouvons-nous vous aider?</h2>
<div class="container-fluid justify-content-center">
    <form method="post">
        <div class="form-group">
            <label for="emailContact" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailContact" name="emailContact" pattern="^[^\W][a-zA-Z0-9]+(.[a-zA-Z0-9]+)@[a-zA-Z0-9]+(.[a-zA-Z0-9]+).[a-zA-Z]{2,4}$" required>
        </div>
        <div class="form-group">
            <label for="messageContact" class="form-label">Message</label>
            <textarea class="form-control" id="messageContact" name="messageContact" placeholder="Laissez nous votre message" rows="5" required></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
<div class="container mt-4">
    <div class="col-sm-12 text-center">
        <h2>Adresse et Téléphone</h2><br>
        <h4>Mantis</h4><br>
        <p>60 rue Lafayette, 76100 Rouen, France</p>
        <p>+33 (0)6 87 49 86 46 </p>
        <p><a href="">leforestier.julien@gmail.com</a></p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.7352195536337!2d1.0874950156947893!3d49.43281967934797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0de7046c74ec5%3A0xdf6bbe8c71c2968!2s60%20Rue%20Lafayette%2C%2076100%20Rouen!5e0!3m2!1sfr!2sfr!4v1629300483830!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <br><br>
    </div>
</div>
{% endblock %}
