{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous?{% endblock %}

{% block body %}
<h1 class="mt-2">Qui sommes-nous?</h1>
<hr>
<p>Chez Mantis, nous vendons des multitudes de jeux.</p>
<p>Nos jeux attirent des millions de personnes et définissent des genres.</p>
<p>La première vente de Mantis, s'est faite en 2018. Depuis lors, nous avons proposé des centaines de titres qui ont changé le monde. Aujourd'hui, des millions de personnes jouent à nos jeux tous les jours.</p>
<p>Nous avons également quelques nouveaux jeux en pré-commande. Quelques-uns ont été annoncés, tandis que d'autres restent top secret.</p>
<p>Notre plateforme connecte les joueurs avec les plus grands divertissements du monde.<br>
<p>Notre matériel est un vecteur de bonheur.</p>
<p>Et nous ne faisons que commencer!</p>
{% endblock %}
