<form method="post" action="{{ path('mark_delete', {'id': mark.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet éditeur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mark.id) }}">
	<button class="btn btn-primary">Supprimer</button>
</form>
