{% extends 'base.html.twig' %}

{% block title %}Édition d'éditeur{% endblock %}

{% block body %}
	<h1>Édition d'éditeur</h1>

	{{ include('mark/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
	<a href="{{ path('mark_index') }}" class="btn btn-primary">Retour</a>
	<br><br>
	{{ include('mark/_delete_form.html.twig') }}
    <br>
{% endblock %}
