{% extends 'base.html.twig' %}

{% block title %}Nouvel éditeur{% endblock %}

{% block body %}
	<h1>Créer un nouvel éditeur</h1>

	{{ include('mark/_form.html.twig') }}
    <br>
	<a href="{{ path('mark_index') }}" class="btn btn-primary">Retour</a>
    <br>
{% endblock %}
