<form method="post" action="{{ path('promotional_code_delete', {'id': promotional_code.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce code promotionnel?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotional_code.id) }}">
	<button class="btn btn-primary">Supprimer</button>
</form>
