{% extends 'base.html.twig' %}

{% block title %}Édition de code promotionnel{% endblock %}

{% block body %}
	<h1>Édition de code promotionnel</h1>

	{{ include('promotional_code/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <br>
	<a href="{{ path('promotional_code_index') }}" class="btn btn-primary">Retour</a>
	<br><br>
	{{ include('promotional_code/_delete_form.html.twig') }}
    <br>
{% endblock %}
