{% extends 'base.html.twig' %}

{% block title %}Nouveau code promotionnel{% endblock %}

{% block body %}
    <h1>Créer un nouveau code promotionnel</h1>

    {{ include('promotional_code/_form.html.twig') }}
    <br>
    <a href="{{ path('promotional_code_index') }}" class="btn btn-primary">Retour</a>
    <br>
{% endblock %}
